div {
  width: 100px;
  height: 100px;
}

body {
  font-family: sans-serif;
  font-size: 24px;
}

div {
  width: 1000px;
  height: 1000px;
  border-radius: 500px;
  border: 2px solid black;
}

p {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -10px -10px 5px blue;
  border: 1px solid blue;
  border-radius: 50px;
}

p:hover {
  color: yellow;
}
