#container {
  height: 600px;
}

#text {
  margin-top: 300px;
  display: inline-block;
  width: 45%;
}

#btn {
  margin-top: 300px;
  display: inline-block;
  width: 5%;
  position: relative;
  background-color: darkblue;
  border: 1px radius dark;
}

#btn > button {
  margin-left: 45%;
}

@media screen and (max-width: 600px) {
  #container {
    height: fit-content;
  }
  #text {
    margin-top: 0;
    padding-top: 100px;
    width: 100%;
    height: 10vh;
  }
  #btn {
    margin-top: 20px;
    display: block;
    width: auto;
  }

  #btn > button {
      
  }
}
