body {
  margin: 10px;
  display: inline-block;
  box-sizing: border-box;
}

div {
  float: left;
}

#categories h4 {
  color: grey;
}

#categories2 h4 {
  color: grey;
}

#categories3 h4 {
  color: grey;
}

#categories4 h4 {
  color: grey;
}